body{
  background-color: #e3daec;
  font-family: 'Cormorant Garamond', serif;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
}

/* navbar */
.navbar-container{
  background-color: #e3daec;
  background-color: rgba(227, 218, 236, 0.5);
  padding: 2vw 3vw;
  position:fixed;
  top:0;
  left:0;
  overflow: hidden;
  transition: top .6s;
}

.navbar{
  padding:0;
}

.navbar-brand{
  padding:0;
  font-size: calc((2 - 1) * 1.2vw + 1rem);
}

.nav-item{
  font-family: adelle-sans,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  color: black;
  margin-left: 0.8vw;
}

.ins-icon{
  margin-left: 1.8vw;
}

/* scroll down navbar animation */
.navbar-container.animate{
  top: -118.578px;
}

.navbar-container.sticky{
  top:0;
  z-index:100;
}

/* navbar highlight */
.current-page{
  text-decoration: underline;
}

/* background section */
.bg-img-overlay{
  position: absolute;
  top:0;
  left:0;
  display: block;
  width:100%;
  height:100%;
  overflow: hidden;
  background-color: black;
  z-index: -10;
}

.bg-img-display{
  position: relative;
  bottom: 40%;
  left:0;
  display: block;
  width:100%;
  height:150%;
  background: url("../images/project-she-glanced-back-at-me/title.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  /* transparent overlay */
  opacity: 0.8;
  filter:alpha(opacity=80);
  z-index: -9;
}

/* content */
.content-wrapper{
  font-family: adelle-sans,sans-serif;
  font-weight: 300;
  position:relative;
  top:105vh;
}

.intro{
  margin:0;
  text-align:justify;
  line-height: 1.8;
  font-size: 1.2rem;
  padding:6vmax 3vw;
}

/* image display */
.image-block-wrapper{
  max-width:100vw;
  padding:3.3vmax 5vw;
}

.display{
  position:relative;
  width:90vw;
  overflow: hidden;
}

.display-img{
  position:relative;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.display-text{
  padding: 3% 0;
}

/* image gallery */
.gallery{
  padding:5% 0;
}

.gallery-text-intro{
  background-color: #e3daec;
  background-color: rgba(227, 218, 236, 0.8);
  height:55%;
  position: sticky;
  top: 0;
}

.gallery-text-heading{
  font-family: 'Cormorant Garamond', serif;
  padding-bottom: 2%;
}

.gallery-text{
  letter-spacing:0.45px;
  text-align: justify;
}

.gallery-img{
  width:100%;
  height:auto;
  display: inline-block;
}

.gallery-img-text{
  padding: 3% 0;
}

.sticky-intro{
  position: sticky;
  top: 0;
}
