body{
  background-color: #e3daec;
  font-family: 'Cormorant Garamond', serif;
}

a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: black;
}

ul{
  list-style-type: none;
}

/* navbar */
.navbar-container{
  background-color: #e3daec;
  background-color: rgba(227, 218, 236, 0.5);
  padding: 2vw 3vw;
  position:fixed;
  top:0;
  left:0;
  overflow: hidden;
  transition: top .6s;
}

.navbar{
  padding:0;
}

.navbar-brand{
  padding:0;
  font-size: calc((2 - 1) * 1.2vw + 1rem);
}

.nav-item{
  font-family: adelle-sans,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.1rem;
  color: black;
  margin-left: 0.8vw;
}

.ins-icon{
  margin-left: 1.8vw;
}

/* scroll down navbar animation */
.navbar-container.animate{
  top: -118.578px;
}

.navbar-container.sticky{
  top:0;
  z-index:100;
}

/* navbar highlight */
.current-page{
  text-decoration: underline;
}

/* hover display wrapper */
.hover-display{
  padding:0 3vw 3vw;
}

/* hover images */
.hover-base-sticky{
  transition: transform 1.5s;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height:100vh;
  z-index: -100;
}

#sticky-image{
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  margin: auto;
}

/* hover item list */
.hover-items-list{
  padding: 5vw;
}

.hover-items{
  text-align: center;
  padding-top: 118.578px;
}

.hover-item-title{
  padding: 1rem 0;
  margin: 0 1rem;
  font-size: calc((4 - 1) * 1.2vw + 1rem);
  display: inline-block;
}

/* animation */
.hover-img-show{
  visibility: visible;
  /* display: table; */
}

.hover-img-hide{
  visibility: hidden;
}
